@import url('https://fonts.googleapis.com/css2?family=Raleway:300,100&family=Montserrat:100,500,900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
  background-size: cover;
  color: white; 
  height: 50%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-weight: 900;
  font-variant: small-caps;
}

h1:hover {
  text-shadow: 0px 0px 10px white;
  transition-duration: 2s;
  -moz-transition-duration: 2s;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-variant: small-caps;
  font-weight: 100;
}

button {
  color: white;
  background-color: black;
}

form {
  align-items: center;
  text-align: center;
  width: 50vw;
  outline: none;
  margin: 10px;
  padding: 10px;
}

input:hover {
  border: 3px solid white;
  transition: 0.5s;
  outline: none;
}

* {
  box-sizing: border-box;
}


